<ng-container *ngIf="conversations$ | async as convs">
    <h3>Chat con {{ role == UserRole.TOURIST ? 'le guide' : 'i turisti' }} ({{convs.length}}):</h3>

    <div [ngStyle]="i % 2 === 0 ? { 'background': 'gainsboro' } : null"
        *ngFor="let conv of convs; let i = index"
        [routerLink]="['/conversation', conv.id]"
        class="cursor-pointer p-2"
        matRipple
    >
        {{ role == UserRole.TOURIST ? 
            conv.guide.firstName + ' ' + conv.guide.lastName : 
            conv.tourist.firstName + ' ' + conv.tourist.lastName }}
    </div>
</ng-container>
