<ng-container *ngIf="tour">
    <!-- floating bottom right FABs -->
    <ng-container *ngIf="actions">
        <div class="fixed bottom-4 right-6 z-10 flex flex-col gap-y-2">
            <!-- tourist -->
            <button mat-fab color="warn" *ngIf="actions.createReport" (click)="openReportModal()"> <!-- create report -->
                <mat-icon>flag</mat-icon>
            </button>
            <button mat-fab color="accent" *ngIf="actions.sendMessage" (click)="goConversation()"> <!-- chat with guide -->
                <mat-icon>chat</mat-icon>
            </button>
            <button mat-fab color="primary" *ngIf="actions.markAsCompleted" (click)="markCompleted()"> <!-- mark as completed -->
                <mat-icon>done</mat-icon>
            </button>
            <!-- guide -->
            <button mat-fab color="warn" *ngIf="actions.delete" (click)="delete()"> <!-- delete -->
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab color="primary" *ngIf="actions.edit" routerLink="edit"> <!-- edit -->
                <mat-icon>edit</mat-icon>
            </button>
            <!-- administrator -->
            <button mat-fab color="warn" *ngIf="actions.viewReports" (click)="openProblemsModal()"> <!-- problems check -->
                <mat-icon>feedback</mat-icon>
            </button>
        </div>
    </ng-container>

    <hgroup>
        <h1 class="!mb-0">{{ tour.title }}</h1>
        <h3 class="!mb-0">{{ "A cura di " + tour.author.firstName + " " + tour.author.lastName }}</h3>
    </hgroup>
    
    <h3 class="!my-2">Tappe ({{ tour.stops.length }}):</h3>
    <div class="flex flex-col gap-y-2">
        <app-tour-stop-card *ngFor="let stop of tour.stops" [data]="stop"></app-tour-stop-card>
    </div>
    
    <h3 class="!my-2">Dettagli complessivi:</h3>
    <ul class="list-disc list-inside ml-2">
        <li>Città: {{ tour.city.name }}</li>
        <li>Durata approssimativa: {{ tour.approxDuration }}</li>
        <li>Costo approssimativo: {{ tour.approxCost | currency }}</li>
        <li>Segnato come completato da {{ tour.markedAsCompletedCount }} turisti</li>
        <li>Tema: {{ tour.theme.name }}</li>
        <li>
            <div class="inline-flex items-center">
                <span>Tags:</span>
                <mat-chip-listbox class="ml-2">
                    <mat-chip *ngFor="let tag of tour.tags">{{ tag.name }}</mat-chip>
                </mat-chip-listbox>
            </div>
        </li>
    </ul>
    
    <h3 class="!my-2">Recensioni ({{ tour.reviews.length }}):</h3>
    <div class="flex flex-col gap-2 lg:grid lg:grid-cols-2">
        <app-review-card *ngFor="let review of tour.reviews" [data]="review"></app-review-card>
        <!-- new review -->
        <mat-card *ngIf="actions?.review" matRipple class="new-review-card" (click)="openReviewModal()">
            <mat-icon>add</mat-icon>
        </mat-card>
    </div>
    
</ng-container>