    <mat-card>
        <mat-card-content>
            <form class="flex flex-col" [formGroup]="form" (submit)="submit()">
                <mat-form-field appearance="fill">
                    <mat-label>Titolo</mat-label>
                    <input matInput formControlName="title" required>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Città</mat-label>
                    <mat-select formControlName="cityId">
                        <mat-option *ngFor="let city of cityOptions$ | async" [value]="city.id">
                            {{ city.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tags</mat-label>
                    <mat-chip-grid #tagChips formArrayName="tags">
                        <mat-chip-row *ngFor="let selectedTag of form.controls.tags.value" (removed)="removeTag(selectedTag.name!)">
                            {{ selectedTag.name }}
                            <button matChipRemove><mat-icon>cancel</mat-icon></button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input 
                        [matChipInputFor]="tagChips"
                        [matAutocomplete]="tagsAutocomplete"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addTag($event)" 
                    />
                    <mat-autocomplete #tagsAutocomplete="matAutocomplete" (optionSelected)="selectedTag($event)">
                        <mat-option *ngFor="let tag of tagsOptions" [value]="tag">
                            {{ tag.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill" formGroupName="theme">
                    <mat-label>Tema</mat-label>
                    <input type="text" matInput formControlName="name" (input)="onThemeInput($event)" [matAutocomplete]="tagsAuto">
                    <mat-autocomplete #tagsAuto="matAutocomplete" [displayWith]="themeDisplayFn" (optionSelected)="selectedTheme($event)">
                        <mat-option *ngFor="let theme of themeOptions$ | async" [value]="theme">
                            {{ theme.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Costo approssimativo</mat-label>
                    <input type="number" min="0.00" step="0.01" matInput formControlName="approxCost" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Durata approssimativa</mat-label>
                    <input type="time" matInput formControlName="approxDuration" required>
                </mat-form-field>

                <mat-divider class="py-2"></mat-divider>

                <button type="button" mat-raised-button (click)="openDialog()">Aggiungi fermata</button>

                <app-tour-stop-card 
                    *ngFor="let stop of form.controls.stops.value"
                    [data]="stop"
                ></app-tour-stop-card>

                <button type="submit" mat-raised-button color="primary">Crea</button>
            </form>
        </mat-card-content>
    </mat-card>