<mat-card>
    <mat-card-header>
        <div class="w-full flex justify-between items-center">
            <div class="rating-container">
                <app-star-rating [stars]="data.stars"></app-star-rating>
            </div>
            <h4 class="!text-sm author-label">{{ data.author.firstName }} {{ data.author.lastName }} in data {{ data.timestamp | date:'medium' }}</h4>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p class="pt-2 text-base">{{ data.description }}</p>
    </mat-card-content>
</mat-card>