<h1 mat-dialog-title>Crea tappa tour</h1>

<div mat-dialog-content>
    <form class="flex flex-col" [formGroup]="form" (submit)="onSubmit()">
    
        <!-- TODO: replace the two following with map -->
        
        <mat-form-field appearance="fill">
            <mat-label>Latitudine</mat-label>
            <input type="number" matInput formControlName="latitude" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Longitudine</mat-label>
            <input type="number" matInput formControlName="longitude" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Titolo</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descrizione</mat-label>
            <input matInput formControlName="description" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Costo</mat-label>
            <input type="number" min="0.00" step="0.01" matInput formControlName="cost" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Durata</mat-label>
            <input type="time" matInput formControlName="duration" required>
        </mat-form-field>
    
        <label for="images">Foto</label>
        <input type="file" class="mb-4" (change)="onFilesSelected($event)" id="images" accept="image/png, image/gif, image/jpeg" multiple required>
    
        <mat-divider></mat-divider>

        <h3 class="pt-3">Dettagli spostamento dalla precedente tappa</h3>
        <!-- TODO nascondere se si tratta della prima tappa -->

        <mat-form-field appearance="fill">
            <mat-label>Costo</mat-label>
            <input type="number" min="0.00" step="0.01" matInput formControlName="transferCost" required>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Durata</mat-label>
            <input type="time" matInput formControlName="transferDuration" required>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Tipologia</mat-label>
            <input matInput formControlName="transferType" required>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Dettagli</mat-label>
            <input matInput formControlName="transferDetails" required>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Altre opzioni</mat-label>
            <input matInput formControlName="otherOptions" required>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Annulla</button>
    <button mat-button [disabled]="form.invalid" (click)="onSubmit()" color="primary" cdkFocusInitial>Salva</button>
</div>