<mat-card>
    <mat-card-content>
        <form class="flex flex-col" [formGroup]="form" (submit)="submit()">

            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required>
                <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass">
                    <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            
            <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Accedi</button>

        </form>
    </mat-card-content>
</mat-card>
    
<div class="mt-2 text-center">
    <a routerLink="/register">Non hai un account?</a>
</div>