<div class="flex flex-col gap-4 lg:grid lg:grid-cols-3">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Accedi come Turista</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="flex flex-col" [formGroup]="touristLogin" (submit)="submitTourist()">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePass[0] ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="hidePass[0] = !hidePass[0]">
                        <mat-icon>{{hidePass[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Accedi</button>
            </form>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>Accedi come Guida</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="flex flex-col" [formGroup]="guideLogin" (submit)="submitGuide()">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePass[1] ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="hidePass[1] = !hidePass[1]">
                        <mat-icon>{{hidePass[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Accedi</button>
            </form>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>Accedi come Amministratore</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="flex flex-col" [formGroup]="adminLogin" (submit)="submitAdministrator()">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePass[2] ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix (click)="hidePass[2] = !hidePass[2]">
                        <mat-icon>{{hidePass[2] ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Accedi</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="mt-2 text-center">
    <a routerLink="/register">Non hai un account?</a>
</div>