/* tailwind imports */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* angular material defaults  */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* fix for anchor without a href */

a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

/* defaults for snackbar flavours */

.error-snackbar > div {
    background-color: #9d1107 !important;
}

.success-snackbar > div {
    background-color: #079c14 !important;
}